* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Roboto", serif;
}

.background-color-main {
  background-color: #1f2937;
  padding-bottom: 50px;
}

header {
  display: flex;
  justify-content: center;
  gap: 1000px;
  padding: 20px 0px
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

nav ul {
  display: flex;
}

li a {
  padding: 0px 10px 0px 10px;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-container {
  display: flex;
  justify-content: center;
  gap: 130px;
  margin: 75px;
}

.hero-article {
  border: 1px solid red;
}

.hero-article h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-article p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 5px;
}

.hero-article button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  padding: 8px 30px;
  border-radius: 7px;
  margin-top: 8px;
}